@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #e0e8ff url("./assets/bg.svg") no-repeat;
	background-size: 100%;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#container {
	background: #ffffff;
	box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
	border-radius: 20px;
	width: 450px;
	height: 697px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 48px;
}
#header {
	margin-bottom: 45px;
}
#text-content {
	text-align: center;
	font-family: "Red Hat Display";
	width: 354px;
}
#text-content h2 {
	height: 37px;
	font-weight: 900;
	font-size: 28px;
	line-height: 37px;
	color: #1f2e55;
	margin-bottom: 17px;
}
#text-content p {
	height: 78px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #717fa6;
	margin-bottom: 20px;
}
#plan-container {
	background: #f7f9ff;
	width: 354px;
	height: 98px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	border-radius: 11px;
	margin-bottom: 32px;
}
#plan-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
}
#plan {
	font-family: "Red Hat Display";
	font-style: normal;
}
#plan h4 {
	font-weight: 900;
	font-size: 16px;
	line-height: 21px;
	color: #1f2e55;
}
#plan-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #382ae1;
}
#plan-link a:active,
a:hover {
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #766cf1;
	text-decoration: none;
}
#button button {
	width: 354px;
	height: 50px;
	background: #382ae1;
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 20px;
	color: #ffffff;
	box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
	border-radius: 11px;
	border: none;
	margin-bottom: 32px;
}
#button button:hover {
	background: #766cf1;
	cursor: pointer;
}
#cancel {
	margin-bottom: 48px;
	font-family: "Red Hat Display";
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 20px;
	color: #717fa6;
}
#cancel:hover {
	color: #1f2e55;
	cursor: pointer;
}

@media screen and (max-width: 450px) {
	#container {
		width: 327px;
		height: 567px;
		padding: 0 24px;
	}
	#header {
		margin-bottom: 32px;
	}
	#header img {
		width: 327px;
		height: 160px;
	}
	#text-content {
		width: 263px;
		font-family: "Red Hat Display";
		font-style: normal;
	}
	#text-content h2 {
		height: 29px;
		font-weight: 900;
		font-size: 22px;
		line-height: 29px;
		margin-bottom: 16px;
	}
	#text-content p {
		height: 75px;
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 24px;
	}
	#plan-container {
		width: 279px;
		height: 81px;
		padding: 17px;
		margin-bottom: 24px;
	}
	#plan h4 {
		font-size: 14px;
		line-height: 19px;
	}
	#plan-link a:active,
	a:hover {
		font-size: 13px;
		line-height: 17px;
	}
	#button button {
		width: 279px;
		margin-bottom: 24px;
	}
	#cancel {
		margin-bottom: 32px;
	}
}
